.i1{
    height: calc(100vh - 70px);
    background-image: url("https://miro.medium.com/max/1200/1*qBWrk_QYTO6Cy5aE0Rjg9Q.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}


